<plist version="1.0">
<dict>
<key>CLIENT_ID</key>
<string>
975977260210-uko73quclepvhn75dsmsgal3fjn0qnaq.apps.googleusercontent.com
</string>
<key>REVERSED_CLIENT_ID</key>
<string>
com.googleusercontent.apps.975977260210-uko73quclepvhn75dsmsgal3fjn0qnaq
</string>
<key>ANDROID_CLIENT_ID</key>
<string>
975977260210-1l746b5q0fa6a2tep2125i7gabe5tibr.apps.googleusercontent.com
</string>
<key>API_KEY</key>
<string>AIzaSyDeVyOwl8ncqZt54Ya6_i0nxsg5zwlsGK0</string>
<key>GCM_SENDER_ID</key>
<string>975977260210</string>
<key>PLIST_VERSION</key>
<string>1</string>
<key>BUNDLE_ID</key>
<string>im.acme.naturaTest</string>
<key>PROJECT_ID</key>
<string>natura-acme-im</string>
<key>STORAGE_BUCKET</key>
<string>natura-acme-im.appspot.com</string>
<key>IS_ADS_ENABLED</key>
<false/>
<key>IS_ANALYTICS_ENABLED</key>
<false/>
<key>IS_APPINVITE_ENABLED</key>
<true/>
<key>IS_GCM_ENABLED</key>
<true/>
<key>IS_SIGNIN_ENABLED</key>
<true/>
<key>GOOGLE_APP_ID</key>
<string>1:975977260210:ios:213b5edadd102c350c55ab</string>
<key>ADMOB_APP_ID</key>
<string>ca-app-pub-8541797843079117~1864330914</string>
</dict>
</plist>